In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
from matplotlib import font_manager as fm
import seaborn as sns
sns.set_theme()

In [2]:
import time
import folium
import folium.plugins
import geopandas as gpd

In [3]:
#!pip install investpy
#!pip install git+https://github.com/alvarobartt/investpy.git@master

In [4]:
# investing
import investpy

In [5]:
from ipywidgets import interact, interactive, fixed, interact_manual, Dropdown, DatePicker, FloatText

# Busca preço da bolsa

In [8]:
df_comm = investpy.get_commodities()
df_comm = df_comm.dropna()

In [11]:
comm_list = df_comm["name"].unique().tolist()
comm_country = df_comm["country"].unique().tolist()

## Preço ao longo do tempo

In [12]:
def norm_date(date):
    temp = date.split("-")
    day = temp[-1]
    month = temp[1]
    year = temp[0]
    return "{}/{}/{}".format(day,month,year)

In [13]:
def show_comm_mtm(comm, country,from_date,to_date):
    try:
        from_norm = norm_date(str(from_date))
        to_norm = norm_date(str(to_date))
        df = investpy.get_commodity_historical_data(comm,from_norm,to_norm, country)
        plt.figure(figsize=(25,15))
        plt.ylabel(df["Currency"].value_counts().index.tolist()[0], fontsize = 20)
        
        plt.title('Preço de {} em {} entre {} até {}'.format(comm, country, from_norm, to_norm), fontsize = 30)
        ax = sns.lineplot(data = df[["Open","High","Low","Close"]])
        plt.setp(ax.get_legend().get_texts(), fontsize='22') # for legend text
        plt.setp(ax.get_legend().get_title(), fontsize='32') # for legend title
        plt.xticks(fontsize = 20)
        plt.yticks(fontsize = 20)
        plt.show()
        return df
    except:
        print("No historic data for {} of {} between {} to {}".format(comm, country,from_date,to_date))

interactive_plot = interactive(show_comm_mtm, comm = comm_list, country = comm_country, from_date = DatePicker(), to_date = DatePicker())

In [14]:
interactive_plot

interactive(children=(Dropdown(description='comm', options=('Gold', 'Copper', 'Silver', 'Palladium', 'Platinum…

In [20]:
## Base
base = interactive_plot.result
base.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 287 entries, 2020-01-01 to 2020-12-31
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Open      287 non-null    float64
 1   High      287 non-null    float64
 2   Low       287 non-null    float64
 3   Close     287 non-null    float64
 4   Volume    287 non-null    int64
 5   Currency  287 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 15.7+ KB

In [21]:
base.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Open,287.0,949.060070,117.496369,824.88,867.880,896.12,1020.06,1297.25
High,287.0,956.378188,119.979670,832.50,871.880,900.50,1033.13,1320.60
Low,287.0,943.401777,116.385273,808.38,863.125,891.38,1014.63,1295.62
Close,287.0,950.119791,118.925678,824.62,868.060,896.50,1021.13,1310.25
Volume,287.0,0.000000,0.000000,0.00,0.000,0.00,0.00,0.00

In [22]:
base

               Open     High      Low    Close  Volume Currency
Date
2020-01-01   943.50   943.50   943.50   943.50       0      USD
2020-01-02   939.62   949.12   936.12   943.25       0      USD
2020-01-03   943.25   945.38   926.75   929.75       0      USD
2020-01-05   928.75   928.75   927.62   927.62       0      USD
2020-01-06   929.00   936.62   928.62   932.50       0      USD
...             ...      ...      ...      ...     ...      ...
2020-12-27  1265.25  1265.25  1264.40  1264.40       0      USD
2020-12-28  1274.88  1280.10  1246.88  1253.75       0      USD
2020-12-29  1255.12  1299.38  1246.38  1299.25       0      USD
2020-12-30  1294.88  1305.90  1280.25  1297.00       0      USD
2020-12-31  1297.25  1320.60  1295.62  1310.25       0      USD

[287 rows x 6 columns]

In [ ]:
base.to_csv('price_file_name.csv', index = None)